/* 
    Created on : 16/11/2017, 18:46:28
    Author     : 11151504898
*/
input {
    display: inline;
}
#pageRole{
    background-color: powderblue;
}
#detalhesProprietario {
    background-color: #d6e9c6;
}
#detalhesProprietario caption {
    background-color: #357ebd;
}
#enderecoProprietario {
    background-color: khaki;
}
#enderecoProprietario caption {
    background-color: yellow;
}
#contatoProprietario{
    background-color: palegreen;
}
#contatoProprietario caption{
    background-color: lightseagreen;
}
#adicionalProprietario {
    background-color: peachpuff;
}
#adicionalProprietario caption{
    background-color: lightcoral;
}
#detalhesAnimal {
    background-color: palegreen;
}
#detalhesAnimal caption{
    background-color: lawngreen;
}
.errors {
    background-color: darkred;
    color: white;
}